In [19]:
import numpy as np
import pandas as pd
from scipy.stats import f
import matplotlib.pyplot as plt 
%matplotlib inline
import seaborn as sns
import scipy.stats as stats
from scipy.stats import ttest_1samp, ttest_ind
from statsmodels.stats.power import ttest_power

In [20]:
df=pd.read_csv('A & B shingles-1.csv')

In [21]:
df.head()

      A     B
0  0.44  0.14
1  0.61  0.15
2  0.47  0.31
3  0.30  0.16
4  0.15  0.37

In [22]:
df.shape

(36, 2)

In [23]:
df.isnull().sum()

A    0
B    5
dtype: int64

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       36 non-null     float64
 1   B       31 non-null     float64
dtypes: float64(2)
memory usage: 704.0 bytes

In [30]:
df.describe()

               A          B
count  36.000000  31.000000
mean    0.316667   0.273548
std     0.135731   0.137296
min     0.130000   0.100000
25%     0.207500   0.160000
50%     0.290000   0.230000
75%     0.392500   0.400000
max     0.720000   0.580000

 ho=Null Hypothesis =moisture content in shingle a is lesser than or equal to .35 
h1=Alternate Hypothesis=Moisture content in shinhle a is greater than .35

In [35]:

##t test 
tstat,pvalue = stats.ttest_1samp(df['A'],.35)
pvalue
print("The T-stat value is",tstat)
print("The P-value is",1-(pvalue/2))
## As the value of p value is greater than 0.05, we cannot reject the null hypothesis. Thus, moisture content in Shingle A is lesser than or equal to .35

The T-stat value is -1.4735046253382782
The P-value is 0.9252236685509249

 ho=Null Hypothesis =moisture content in shingle B is lesser than or equal to .35 
h1=Alternate Hypothesis=Moisture content in shingle B is greater than .35

In [33]:


tstat,pvalue = stats.ttest_1samp(df['B'].dropna(),.35)
pvalue
print("The T-stat value is",tstat)
print("The P-value is",1-(pvalue/2))
## As the value of p value is greater than 0.05, we cannot reject the null hypothesis. Thus, moisture content in Shingle B is lesser than or equal to .35

The T-stat value is -3.1003313069986995
The P-value is 0.9979095225996808

In [ ]:
h0=ua=ub ( mean of a=mean of b)
h1= ua is not equal tp ub (mean of a is not equal to mean of b)

In [37]:
df.tstat,pvalue = stats.ttest_ind(df["A"],df["B"],equal_var=True,nan_policy='omit')
print("The T-value is",df.tstat)
print("The p value is",pvalue)
##Since p value is greater than 0.05, we cannot reject the null hypothesis, thus mean of a=mean of b

The T-value is 1.2896282719661123
The p value is 0.2017496571835306